stepfunctions/statemachine.json
{
  "Comment": "A state machine that handles both creating and getting items from DynamoDB.",
  "StartAt": "CheckOperation",
  "States": {
    "CheckOperation": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.operation",
          "StringEquals": "create",
          "Next": "CreateItem"
        },
        {
          "Variable": "$.operation",
          "StringEquals": "get",
          "Next": "GetItem"
        }
      ],
      "Default": "FailState"
    },
    "CreateItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${DYNAMODB_TABLE_NAME}",
        "Item": {
          "id": {
            "S.$": "$.payload.id"
          },
          "task": {
            "S.$": "$.payload.task"
          },
          "timestamp": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "End": true
    },
    "GetItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${DYNAMODB_TABLE_NAME}",
        "Key": {
          "id": {
            "S.$": "$.payload.id"
          }
        }
      },
      "End": true
    },
    "FailState": {
      "Type": "Fail",
      "Error": "InvalidOperation",
      "Cause": "The specified operation is not supported."
    }
  }
}